<body>
  <div class="gifContainer">
    <iframe src="https://giphy.com/embed/TLQrrnQ5XZX9ior1gl" width="800" height="600" frameBorder="0" class="giphy-embed"
      allowFullScreen></iframe>
    <p><a href="https://giphy.com/gifs/babytv-basketball-playground-little-lola-TLQrrnQ5XZX9ior1gl"></a></p>
  </div>

  <div id="titleContainer">
    <h1 id="title"></h1>
  </div>

  <div>
    <table id="buttonTble">
      <tr>
        <td><button id="deskPgButton" (click)="CallDesktopApplicationPg()"></button></td>
        <td><button id="mobilePgButton" (click)="CallMobileApplicationPg()"></button></td>
      </tr>
    </table>
  </div>
</body>
